/* style.css */

/* Change the font size and color for the main body text */
body {
    font-size: 18px; /* Bigger text */
    color: #333333; /* Dark grey color */
}

/* Change the font size and color for headers */
h1, h2, h3, h4, h5, h6 {
    font-size: 40px; /* Larger headers */
    color: #461D7C; /* Blue color for headers */
}
